
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    font-size:60px;
    background:#333;
    
}

.holder-text{
    line-height:90px;
    color:#fff;
}

.holder-job{
    margin-left: 1.5rem;
    line-height:90px;
    height:90px;
    overflow:hidden;
}



.holder-job li{
    list-style:none;
    color:#d463cb;
    font-weight:500;
    position:relative;
    top:0;
    animation: slide 9s steps(3) infinite;
}


holder-job li p{
    line-height:90px;
    position:relative;

}
